@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* CUSTOM */

  --gradient-hero: linear-gradient(135deg, #0c131e 0%, #0a0715 100%);

  --color-background-main: var(--background-main);
  --color-background-sidebar-main: var(--background-sidebar-main);
  --color-background-modal-login: var(--background-modal-login);
  --color-background-menu-activate: var(--background-menu-activate);
  --color-background-menu-not-activate: var(--background-menu-not-activate);
  --color-background-sidebar-user: var(--background-sidebar-user);
  --color-background-tooltip: var(--background-tooltip);
  --color-border-sidebar-user: var(--border-sidebar-user);
  --color-border-main: var(--border-main);
  --color-background-hover-sidebar-menu: var(--background-hover-sidebar-menu);
  --color-icon-hover-sidebar-menu: var(--icon-hover-sidebar-menu);
  --color-icon-activate: #0d59f2;
  --color-icon-not-activate: #6b7280;
  --color-blue-neon: #2563eb;

  --shadow-header: var(--shadow-header);

  /* TYPOGRAPHY */
  --color-base-primary: var(--base-primary);
  --color-base-secondary: var(--base-secondary);
  --color-variant-primary: var(--variant-primary);
  --color-variant-secondary: var(--variant-secondary);

  /* -- */

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --radius-2xl: calc(var(--radius) + 8px);

  --radius-3xl: calc(var(--radius) + 12px);

  --radius-4xl: calc(var(--radius) + 16px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /* Custom */

  --background-main: #edeff8;
  --background-sidebar-main: #fbfbfd;
  --background-modal-login: #ffffff;
  --background-menu-activate: #e6eefe;
  --background-menu-not-activate: #f8fafc;
  --background-sidebar-user: #efedf1;
  --background-tooltip: #090c13;
  --background-hover-sidebar-menu: #edeef0;
  --icon-hover-sidebar-menu: #0f172a;
  --border-sidebar-user: #e1e0e3;
  --border-main: #d4d5d7;
  --base-primary: #738297;
  --base-secondary: #4b586a;
  --variant-primary: #f4f7f9;
  --variant-secondary: #0c111e;

  --shadow-header: 0 0 30px rgba(0, 0, 0, 0.1);
  /* ---   */

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* CUSTON */
  --background-main: #0c111e;
  --background-sidebar-main: #090c13;
  --background-modal-login: #0e131e;
  --background-menu-activate: #09142a;
  --background-menu-not-activate: #16181f;
  --background-sidebar-user: #161a24;
  --background-tooltip: #ffffff;
  --background-hover-sidebar-menu: #161b26;
  --icon-hover-sidebar-menu: #e2e8f0;
  --border-sidebar-user: #282c35;
  --border-main: #1f2632;
  --base-primary: #8c9aaf;
  --base-secondary: #4b586a;
  --variant-primary: #0c111e;
  --variant-secondary: #f4f7f9;

  --shadow-header: 0 0 30px rgba(0, 0, 0, 0.8);
  /* --- */

  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@supports (-webkit-touch-callout: none) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}
